<!DOCTYPE html>
<html lang="es" data-theme="dracula">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/agrgarlibros.css">
  <link rel="shortcut icon" href="/assets/img/ole.png" type="image/x-icon">

  <!-- boostrap -->
  <%- include('./partials/boostrap') %>
    <title>Agregar Libros</title>
</head>
<header>
  <%- include('./partials/navbar.ejs') %>
</header>

<body>
  <% libros.forEach(libro => { %>
    <div class="row no-gutters">
      <div class="col-3 col-md-2">
        <div class="cuadrado">
          <img src="/assets/IMG/ORGULLO-NEGRET.jpg" class="imagen">
        </div>
      </div>
      <div class="col flex space-x-4 " id="col">
        <article class="col-sm-6 col-md-8" id="medio">
          <section class="resena">
            <form action="insertarLibros">
            <form action="insertarLibros" method="post">
              <label for="" class="texto1">
                <p class=" text-white ">Sipnosis</p>
                <input type="text " placeholder="Type here" name="SIPNOSIS"
                  class="input input-bordered input-lg w-full max-w-xs text-white" required />
              </label>
              <label for="" class="texto1 pl-5 pt-5">
                <p class=" text-white ">Titulo</p>
                <input type="text " placeholder="Type here" name="TITULO"
                  class="input input-bordered input-lg w-full max-w-xs text-white" required />
              </label>
            </form>
            <form action="insertarLibros" method="post">
              <label for="" class="texto1">
                <p class=" text-white ">Año de publicacion</p>
                <input type="date " placeholder="Type here" name="FECHA_PUBLICACIOM"
                  class="input input-bordered input-lg w-full max-w-xs text-white" required />
              </label>
              <label for="" class="texto1 pl-5">
                <p class=" text-white ">numero de serie</p>
                <input type="text " placeholder="Type here" name="NUM_SERIE"
                  class="input input-bordered input-lg w-full max-w-xs text-white" required />
              </label>
            </form>
            <form action="insertarLibros" method="post">
              <label for="" class="texto1">
                <p class=" text-white ">Genero
                </p>
                <input type="number " placeholder="Type here" name="COD_GENERO"
                  class="input input-bordered input-lg w-full max-w-xs text-white" required />
              </label>
              <label for="" class="texto1 pl-5">
                <p class=" text-white ">Codigo del autor</p>
                <input type="text " placeholder="Type here" name="COD_AUTOR"
                  class="input input-bordered input-lg w-full max-w-xs text-white" required />
              </label>
              <button class="btn btn-block btn-info pr-5"><a href="/">Guardar</a> </button>
              <button class="btn btn-block btn-info"><a href="/">Cancelar</a> </button>
            </form>
          </form>
  
          </section>
        </article>
      </div>
    </div>
  
  <% }) %>
  <div class="row no-gutters">
    <div class="col-3 col-md-2">
      <div class="cuadrado">
        <img src="/assets/IMG/ORGULLO-NEGRET.jpg" class="imagen">
      </div>
    </div>
    <div class="col flex space-x-4 " id="col">
      <article class="col-sm-6 col-md-8" id="medio">
        <section class="resena">
          <form action="">
          <form action="sd" method="post">
            <label for="" class="texto1">
              <p class=" text-white ">Sipnosis</p>
              <input type="text " placeholder="Type here" name="SIPNOSIS"
                class="input input-bordered input-lg w-full max-w-xs text-white" required />
            </label>
            <label for="" class="texto1 pl-5 pt-5">
              <p class=" text-white ">Titulo</p>
              <input type="text " placeholder="Type here" name="TITULO"
                class="input input-bordered input-lg w-full max-w-xs text-white" required />
            </label>
          </form>
          <form action="sd" method="post">
            <label for="" class="texto1">
              <p class=" text-white ">Año de publicacion</p>
              <input type="date " placeholder="Type here" name="FECHA_PUBLICACIOM"
                class="input input-bordered input-lg w-full max-w-xs text-white" required />
            </label>
            <label for="" class="texto1 pl-5">
              <p class=" text-white ">numero de serie</p>
              <input type="text " placeholder="Type here" name="NUM_SERIE"
                class="input input-bordered input-lg w-full max-w-xs text-white" required />
            </label>
          </form>
          <form action="ad" method="post">
            <label for="" class="texto1">
              <p class=" text-white ">Genero
              </p>
              <input type="number " placeholder="Type here" name="COD_GENERO"
                class="input input-bordered input-lg w-full max-w-xs text-white" required />
            </label>
            <label for="" class="texto1 pl-5">
              <p class=" text-white ">Codigo del autor</p>
              <input type="text " placeholder="Type here" name="COD_AUTOR"
                class="input input-bordered input-lg w-full max-w-xs text-white" required />
            </label>
            <button class="btn btn-block btn-info pr-5"><a href="/">Guardar</a> </button>
            <button class="btn btn-block btn-info"><a href="/">Cancelar</a> </button>
          </form>
        </form>

        </section>
      </article>
    </div>
  </div>

  <footer>
    <%- include('./partials/footer.ejs') %>
  </footer>
  <script src="/assets/js/sweetalert.js"></script>
    


</body>

</html>