<!DOCTYPE html>
<html lang="es" data-theme="dracula">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- boostrap -->
  <%- include('./partials/boostrap') %>
    <!-- olw Carousel -->
    <%- include('./partials/owl.ejs') %>
      <!-- css style -->
      <link rel="stylesheet" href="/assets/css/pagina-style.css">
      <link rel="stylesheet" href="/assets/css/pagina-index.css">

      <title>Prestamo</title>
</head>

<body>
  <main class="row no-gutters">

    <article class="col-3 col-md-2">
      <section class="cuadrado">
        <img src="/assets/IMG/ORGULLO-NEGRET.jpg" class="las" alt="">
      </section>

      <section class="ribbon1">
        <section class="texto">
          <p class="nombre"></p> NOMBRE: <br>
          <p class="nombre"> Orgullo y Prejuicio</p> AUTOR: <br>
          <p class="nombre"> Jane Austen</p> <br>
        </section>
      </section>
    </article>

    <article class="col-sm-6 col-md-8 pt-7" id="medio">
      <section class="resena">
        <form action="prestamoLibro?COD_LIBRO=<%= COD_LIBRO %>" method="post">

          <label class="texto1 pt-7">Fecha del prestamo</label>

          <div class="relative max-w-sm">

            <input id="date" type="date" name="FECHA_PRESTAMO"
              class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
          </div>

          <label class="texto1 pt-7">Fecha del devolucion</label>

          <div class="relative max-w-sm">
            <input id="date" type="date" name="FECHA_DEVOLUCION"
              class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
          </div>

          <label class="texto1 pt-7"> Acepto Terminos Y condiciones

            <input type="checkbox" class="checkbox checkbox-accent" />
          </label>
          <button class="btn btn-block btn-info" type="submit">ENVIAR</button>
        </form>

      </section>

  </main>

  <!-- Script para el carrousel -->
  <script src="/assets/js/owl-function.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/datepicker.min.js"></script>

  <footer>
    <%- include('./partials/footer.ejs') %>
  </footer>

</body>

</html>